<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block main %}
<h1>ビールスタイル詳細画面</h1>
<div>
  <h3 class="title">{{style.name}}</h3>
  <ul>
    <li>発祥地:{{style.birth_place}}</li>
    <li>発酵方法:{{style.get_fermentation_display}}</li>
  </ul>
  <div>
    {{style.description}}
  </div>
  <h3>{{style.name}}の銘柄</h3>
  <div>
    {% if brands %}
    <ul>
      {% for brand in brands %}
      <li><a href="{% url 'detail_brand' brand.id %}">{{brand.name}}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>登録されている{{style.name}}の銘柄はありません</p>
    {% endif %}
  </div>
</div>
{% endblock %}
